#menuOutBox {
    background-color:  rgb(254 254 254);
    width: 20%;
    height: 100%;
}

.menu-list {
    padding: 10px;
}

.menu-item {
    color: rgba(1, 1, 1, 0.8);
    font-size: 16px;
    line-height: 1.2;
    border-radius: 3px;
    padding: 11px 3px;
}

.menu-item span {
    padding: 0 3px;
}

.menu-item:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

/* 激活属性 */
.menu-item-active span {
    padding: 0 3px;
}

.menu-item-active {
    color: white;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 3px;
    padding: 11px 3px;
    background-color: rgba(0,0,122,0.5);
}


/* 退出对话框 */
.exit-popover-cancel{
    margin-left: 3px;
}