.local-music-control {
    display: flex;
    justify-content: space-between;
}

.local-music-import-popover-button{
    width: 100%;
    display: block;
    color: palevioletred;
}

.local-music-import-popover-button:hover{
    color: white;
    background-color: palevioletred;
}
